<!DOCTYPE html>
<html>
<head>
    <title>Choix</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
</head>
<body>
<a href="/" class="button"> RETOUR </a>
<H1>AUTHENTIFICATION</H1>
<div class="auth">
    <h2>REPUBLIQUE DU CAMEROUN</h2>
    <h3>PAIX - TRAVAIL - PATRIE</h3>
    <form method="post" action="/authentification">
        <!-- infos centre-->
        <label for="region">
            REGION :
        </label>
        <input type="text" name="region" id="region" class="a"> <br><br>
        <label for="departement">
            DEPARTEMENT :
        </label>
        <input type="text" name="departement" id="departement" class="a"><br><br>
        <label for="arrondissement">
            ARRONDISSEMENT :
        </label>
        <input type="text" name="arrondissement" id="arrondissement" class="a"><br><br>
        <label for="centre">
            CENTRE D'ETAT CIVIL DE :
        </label>
        <input type="text" name="centre" id="centre" class="a"><br><br>
        <label for="numero_acte">
            ACTE DE NAISSANCE N<sup>o</sup> :
        </label>
        <input type="text" name="numero_acte" id="numero_acte" class="a"><br><br>

        <!-- infos enfant-->
        <label for="nom">
            Nom de l'enfant :
        </label>
        <input type="text" name="nom" id="nom" class="a"><br><br>
        <label for="prenom">
            Prenom de l'enfant
        </label>
        <input type="text" name="prenom" id="prenom" class="a"><br><br>
        <label for="dateness">
            Né le :
        </label>
        <input type="date" name="dateness" id="dateness"><br><br>
        <label for="lieuness">
            À :
        </label>
        <input type="text" name="lieuness" id="lieuness" class="a"><br><br>
        <label>De sexe :</label>

        <input type="radio" name="sexe" value="m" id="m">
        <label for="m">
            M
        </label>
        <input type="radio" name="sexe" value="f" id="f">
        <label for="f">
            F
        </label><br><br>

        <!-- infos pere-->
        <label for="nompere">
            De :
        </label>
        <input type="text" name="nompere" id="nompere" class="a"><br><br>
        <label for="lieunesspere">
            Né à :
        </label>
        <input type="text" name="lieunesspere" id="lieunesspere"class="a"><br><br>
        <label for="datenesspere">
            Le :
        </label>
        <input type="text" name="datenesspere" id="datenesspere" class="a"><br><br>
        <label for="domicilepere">
            Domicilié à :
        </label>
        <input type="text" name="domicilepere" id="domicilepere" class="a"><br><br>
        <label for="profpere">
            Profession :
        </label>
        <input type="text" name="profpere" id="profpere" class="a"><br><br>
        <label for="natpere">
            Nationalité :
        </label>
        <input type="text" name="natpere" id="natpere" class="a"><br><br>
        <label for="docrefpere">
            Document de référence :
        </label>
        <input type="text" name="docrefpere" id="docrefpere" class="a"><br><br>


        <!-- infos mére-->
        <label for="nommere">
            Et de :
        </label>
        <input type="text" name="nommere" id="nommere" class="a"><br><br>
        <label for="lieunessmere">
            Né à :
        </label>
        <input type="text" name="lieunessmere" id="lieunessmere" class="a"><br><br>
        <label for="datenessmere">
            Le :
        </label>
        <input type="text" name="datenessmere" id="datenessmere" class="a"><br><br>
        <label for="domicilemere">
            Domicilié à :
        </label>
        <input type="text" name="domicilemere" id="domicilemere" class="a"><br><br>
        <label for="profmere">
            Profession :
        </label>
        <input type="text" name="profmere" id="profmere" class="a"><br><br>
        <label for="natmere">
            Nationalité :
        </label>
        <input type="text" name="natmere" id="natmere" class="a"><br><br>
        <label for="docrefmere">
            Document de référence :
        </label>
        <input type="text" name="docrefmere" id="docrefmere" class="a"><br><br>

        <!-- autres-->

        <label for="datedress">
            Dressé le :
        </label>
        <input type="date" name="datedress" id="datedress" class="a"><br><br>
        <label for="declar">
            Sur la déclaration de :
        </label>
        <input type="text" name="declar" id="declar" class="a"><br><br>
        <label for="nous">
            Lesquels ont certifié la présente déclaration,<br><br></label>
        <label for="nous">par nous : </label>
        <input type="text" name="nous" id="nous" class="a"><br><br>
        <label for="assist">
            Assisté de :
        </label>
        <input type="text" name="assist" id="assist" class="a"><br><br>

        <label for="datedo">
            le :
        </label>
        <input type="date" name="datedo" id="datedo" class="a"><br><br><br><br>

        <input type="submit" value="AUTHENTIFIER" class="end" />


    </form>
</div>

<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
