<!DOCTYPE html>
<html>
  <head>
    <title>Choix</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
  <div class="choice">
    <a href="/inscription" class="button1"> ENREGISTREMENT </a>
    <a href="/authentification" class="button2"> AUTHENTIFICATION</a>
    <a href="/center_checking" class="button3"> VERIFICATION DE CENTRE</a>

  </div>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
